<ol class="breadcrumb">
  <li class="active"><%= content_tag :span, '', :class => 'fa fa-home', 'aria-hidden' => true %>
</ol>
<div class="list-group">
  <% @groups.each do |group| %>
    <%= link_to group.log_group_name, group_streams_path(group.log_group_name, region: @region), class: 'list-group-item' %>
  <% end %>
</div>

<%= paginate @groups, prams: {region: @region} %>
