<ol class="breadcrumb">
  <li class="active"><%= content_tag :span, '', :class => 'fa fa-home', 'aria-hidden' => true %>
</ol>
<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.log_group_name, group_streams_path(group.log_group_name, region: @region) %></li>
  <% end %>
</ul>

<%= paginate @groups, prams: {region: @region} %>
