<ol class="breadcrumb">
  <li><%= link_to content_tag(:span, '', :class => 'fa fa-home', 'aria-hidden' => true), root_path(region: @region) %>
  <li class="active"><%= @log_group_name %></li>
</ol>
<div class="list-group">
  <% @streams.each do |stream| %>
    <%= link_to stream.log_stream_name, group_stream_path(@log_group_name, stream.log_stream_name, region: @region), class: 'list-group-item' %>
  <% end %>
</div>

<%= paginate @streams, params: {region: @region} %>
